body {
    background-color: #e3e6f3;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}
.nav1{
    background-color: #e3e6f3;
margin-bottom: 1rem;
    margin-top: 5px;
  display: flex;
    align-items: center;
    justify-content: space-between;
width: 100vw;
    height: 60px;
    color:#e3e6f3;
}


.logo-content h2{
    
    font-size: 2.5rem;
    font-style: italic;
    color: black;
} 
.logo-content{
    /* width: 18%; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 60px;
    width: 80px;
    background-image: url("BAG.png");
  background-size: cover;
  overflow: hidden;
  
}
.extra{
    display: flex;
    height: 60px;
    width: 60%;
align-items: center;
justify-content: space-between;
    
}
.address{
    
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ad1{
    height: 30px;
}
.ad2{
    height: 30px;
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.cart{
    margin-right: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carim{
    
    height: 30px;
}
.carim i{
    font-size: 2rem;
}
.cart a{
    
    font-size: 1.2rem;
}
.bar{
    

    position: absolute;
    display: none;
}
.bar img{
    margin-top: 10px;
   
    height: 50px;
    width: 50px;
}




.nav2{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
    color:#e3e6f3;
    width: 100%;
    height: 50px
}
.nav2 p{
    margin-top: 50px;
    font-size:1.1rem;
}

label{
    font-size: 1.5rem;
    margin: 0 auto;
}

.menu1{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main{
    width: 100vw;
    background-image: url(back1.png);
    background-size: cover;
    height: 900px;
}

.main h3{
    font-style: italic;
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-size: 2.0rem;
    color: white;
}

.main1{
margin-top: 30px;
    background-color: #e3e6f3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    gap: 3rem;
}
.box1{
    transition: 0.4s ease-out;
    margin-left: 20px;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    width: 400px;
    height: 500px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    
}
.main1 h3{
    margin-top: 10px;

    margin-left: 20px;
    color: black;
}
.main1 img{
    margin-left: 20px;

    margin-top: 10px;
    height:400px ;
    width: 350px;
}
.main1 a{
    margin-left: 20px;
text-decoration: none;
    color: black;
}
.box2{
    transition: 0.4s ease-out;

    background-color: white;
    margin-top: 20px;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.box3{
    margin-right: 20px;
    transition: 0.4s ease-out;

    background-color: white;
    margin-top: 20px;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}


 .box4{
    border-bottom: 1px solid black;
    transition: 0.4s ease-out;

    margin-left: 20px;
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.box5{
    transition: 0.4s ease-out;

    border-bottom: 1px solid black;

    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.box6{
    transition: 0.4s ease-out;

    border-bottom: 1px solid black;

    margin-right: 20px;
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.boxes:hover{
    transform: scale(1.05);

}

.imgtemp{
    background-image: url(temp);
    margin-top: 20px;
    padding: 2rem 4rem;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
}
.temp1{
    overflow: hidden;
    border-radius: 15px;
    transition: 0.4s ease-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    height: 450px;
    width: 22%;
    background-image: url(temp1.png);
   }
   .temp2{
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s ease-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    height: 450px;
    width: 22%;
    background-image: url(temp2.png);
   }
   .temp3{
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s ease-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    height: 450px;
    width: 22%;
    background-image: url(temp3.png);
   }
   .temp4{
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s ease-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    height: 450px;
    width: 22%;
    background-image: url(temp4.png);
   }

   .temps:hover{
    transform: scale(1.08);

}
.prefoot{
    margin: 20px 0px;
width: 100vw;
height: 150px;
background-color: white;
}
.pre2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    background-color: white;
}
.pre2 p{
    margin: 5px;
    color: black;
}
.pre2 button{
    background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-2874.jpg?w=1060&t=st=1701192724~exp=1701193324~hmac=359222136fb89b38ea1892e1a65435ecc9ab0b779842f06d25b62a5ff8dd1f37");
    margin: 5px;
    border: 1px solid black;
    background-color: rgb(147, 153, 93);
    height: 30px;
    width: 150px;
    color: black;

}
.pre2 h5{
    margin: 5px;

    font-weight: 100;
    color: rgb(0, 0, 0);
}
#feature {
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 30px;
    padding: 1rem;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #feature .fe-box {
    transition: 0.4s ease-out;

    background-color: white;
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    border: 1px solid #cce7d0;
    border-radius: 35px;
    margin: 15px 0;
    cursor: pointer;
  }
  
  #feature .fe-box:hover {
    transform: scale(1.08);
  }
  
  #feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
  }
  
  #feature .fe-box:nth-child(2) h6 {
    transition: 0.4s ease-out;

    background-color: #cdebbc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  }
  
  #feature .fe-box:nth-child(3) h6 {
    transition: 0.4s ease-out;

    background-color: #d1e8f2;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  }
  
  #feature .fe-box:nth-child(4) h6 {
    transition: 0.4s ease-out;

    background-color: #f6dbf6;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  }
  
  #feature .fe-box:nth-child(5) h6 {
    transition: 0.4s ease-out;

    background-color: #cdd4f8;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  }
  
  #feature .fe-box:nth-child(6) h6 {
    transition: 0.4s ease-out;

    background-color: #fff2e5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  }
  
.footer-container{
    height: 350px;
    background-color: #e3e6f3;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.logo-svg{
    width: 4rem;
    height: 4rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    
    gap: 0.8rem;
}
.pay{
    margin-left: -20px;
    display: flex;
    gap: 0.5rem;
margin-top: -20px;

}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}
.footer-link{
    text-decoration: none;
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-left: 2.5rem;
    margin-bottom: 1.65rem;
}
.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;
    background-color: #a4e2ed;
}
footer{
    display: flex;
  
    justify-content: space-evenly;
    height: 250px;
    width: 100%;
    padding-top: 50px;

}
.footcon1 ul li{

 list-style-type: none;
 line-height: 25px;
}
.footcon2 ul li{
    list-style-type: none;
     line-height: 25px;

}
.footcon3 ul li{
 line-height: 25px;

    list-style-type: none;
}
.footcon4 ul li{
 line-height: 25px;

    list-style-type: none;
}
.copy{
    border-top: 2px solid black;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #e3e6f3;
}
.copy pre{
    margin-top: 15px;
}

@media (max-width: 478px){
.nav1{
    width: 100vw;
}
.bar{
    margin-left: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.extra{
display: none;
}
.main{
    width: 100vw;
    background-image: url(back1.png);
    background-size: cover;
    height: 300px;
}
.main h3{
   font-size: 0.8rem;
}
.main1{
  gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxes{
   margin: 0px 15px;
}
.imgtemp{
    gap: 2rem;
    height: auto;
    width: 100vw;
    flex-direction: column;
}
.temps{
    width: 80vw;
}
.feature{
    margin: 0 auto;
}
.footer-grid{
    display: none;
}
.footer-top{
    width: 80vw;
}
.copy pre{
    margin-right: 40px;
}


}


